# Virtual environment
venv/

# Python bytecode
__pycache__/
*.py[cod]

# Environment variables
.env
.env.*

# Database files
*.db
*.sqlite3

# Logs
*.log

# IDEs
.vscode/
.idea/

# Optional: OS files
.DS_Store
Thumbs.db
